/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : now..
    Author     : fpiplip
*/

.root{
    -fx-background-color: whitesmoke;
}


.button{
    -fx-background-color:
        /*linear-gradient(#f0ff35, #a9ff00),*/
            radial-gradient(center 50% -40%, radius 200%, #333333 45%, #000000 50%);
    -fx-border-color: white;
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );*/
    -fx-text-fill: #395306;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-opacity: 0.9;
}

.button:hover{
    -fx-border-color: lightseagreen;
    -fx-border-radius:5;
}

#buttonyellowe{
    -fx-background-color: yellow;
}

#buttongrey{
    -fx-background-color: grey
}